*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/test/java/m1c20152016_planinteractifbu/fr/paris10/miage/projet/grp3/planbu/ExampleUnitTest.java
.idea
/.gradle
/.idea