<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grp3.projet.miage.paris10.fr.m1c20152016_planinteractifbu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/books"
        android:label="Plan interactif"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Plan interactif"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".leplan.PlanActivity"
            android:label="@string/layout_plan_interactif"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".leplan.PlanImage"
            android:label="@string/layout_plan_image"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".csvreader.AfficherCSV"
            android:label="@string/affiche_csv"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".disciplinesview.DisciplinesListActivity"
        android:theme="@style/AppTheme">
    </activity>
    </application>

</manifest>
